---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Process from '../components/Process.astro';
import Features from '../components/Features.astro';
import Approach from '../components/Approach.astro';
import KnotCMS from '../components/KnotCMS.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <div class="pf-site-grid" aria-hidden="true"></div>
  <div class="pf-site">
    <Header />
    <main>
      <Hero />
      <Process />
      <Features />
      <Approach />
      <KnotCMS />
      <FAQ />
      <CTA />
    </main>
    <Footer />
  </div>
</Layout>
