---
const notionIcon =
  'https://cdn.brandfetch.io/idPYUoikV7/theme/light/symbol.svg?c=1bxid64Mup7aczewSAYMX';
---

<div class="pf-pipeline" aria-label="Notion to Framer pipeline">
  <span class="pf-brand-tile pf-pipeline-logo" style="width: 2rem; height: 2rem;">
    <img
      class="pf-brand-icon-img"
      src={notionIcon}
      alt=""
      width="16"
      height="16"
      loading="lazy"
      decoding="async"
    />
  </span>
  <span class="pf-pipeline-line" aria-hidden="true"></span>
  <span class="pf-status-dot pf-status-dot--ok" aria-hidden="true"></span>
  <span class="pf-pipeline-line" aria-hidden="true"></span>
  <span class="pf-brand-tile pf-pipeline-logo" style="width: 2rem; height: 2rem; background: #0055FF;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="pf-brand-icon-svg" aria-hidden="true">
      <path
        d="M 44.65 33.992 L 95.35 33.992 L 95.35 59.341 L 70 59.341 Z M 44.65 59.341 L 70 59.341 L 95.35 84.691 L 44.65 84.691 Z M 44.65 84.691 L 70 84.691 L 70 110.041 Z"
        fill="#fff"
      />
    </svg>
  </span>
</div>
